/bigchaindb
/logs
/mongodb_docker1
/mongodb_docker2
/mongodb_docker3
/mongodb_docker4
/mongodb_config
/tendermint_config
/tendermint_docker1
/tendermint_docker2
/tendermint_docker3
/tendermint_docker4
Vagrantfile
stack.sh
unstack.sh
