.home {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.time-picker {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 40vw;
	padding: 4vh 0 5vh 0;
}

.submit-button {
	background-color: #1565c0;
	color: white;
	cursor: pointer;
	border: none; 
	text-transform: uppercase;
	padding: 1vh 4vh;
	font-size: 1.3rem;
}